<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<connectionStrings>
    <add name="dbConn" connectionString="server=46.20.11.90;packet size=4096;User Id=isqw;password=20+14#Hmz?Cn$nct;persist security info=False;Database=Meeting;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>